---
layout: layout
---

<div id="post">
	<h1> {{page.title}} </h1>
	<div class="date">{{ post.date | date: "%d %B, %Y" }}</div>
	
	<article>
		{{ content }}
	</article>
</div>

	
<div id="page-navigation"> 
	<div class="left"> {% if page.previous.url %} <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&larr; {{page.previous.title}}</a> {% endif %} </div> 
	<div class="right"> {% if page.next.url %} <a href="{{page.next.url}}" title="next Post: {{page.next.title}}">{{page.next.title}} &rarr; </a> {% endif %} </div> 
	<div class="clear">&nbsp;</div>
</div>


<div id="tweetBoxWrapper">
    <div id="tweetHeader">
        <h2>Comments</h2>
    </div>
    <div id="tweetBox"></div>
</div>
